9/st/a-team-kr/src/library/WebContent/wsdl/librarian_compSOAP.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/librarian_comp/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="librarian_comp" targetNamespace="http://www.example.org/librarian_comp/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/librarian_comp/">
      <xsd:element name="getShelfByName">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getShelfByNameResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getShelfByCipher">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="getShelfByCipherResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getShelfByNameRequest">
    <wsdl:part element="tns:getShelfByName" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getShelfByNameResponse">
    <wsdl:part element="tns:getShelfByNameResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getShelfByCipherRequest">
  	<wsdl:part element="tns:getShelfByCipher" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getShelfByCipherResponse">
  	<wsdl:part element="tns:getShelfByCipherResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="librarian_comp">
    <wsdl:operation name="getShelfByName">
      <wsdl:input message="tns:getShelfByNameRequest"/>
      <wsdl:output message="tns:getShelfByNameResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getShelfByCipher">
    	<wsdl:input message="tns:getShelfByCipherRequest"/>
    	<wsdl:output message="tns:getShelfByCipherResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="librarian_compSOAP" type="tns:librarian_comp">
  	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  	<wsdl:operation name="getShelfByName">
  		<soap:operation soapAction="http://www.example.org/librarian_comp/NewOperation"/>
  		<wsdl:input>
  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="getShelfByCipher">
  		<soap:operation soapAction="http://www.example.org/librarian_comp/getShelfByCipher"/>
  		<wsdl:input>
  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="librarian_comp">
    <wsdl:port binding="tns:librarian_compSOAP" name="librarian_compSOAP">
      <soap:address location="http://localhost:8080/library/services/librarian_compSOAP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
