09/st/a-team-kr/src/library/WebContent/wsdl/irbisSOAP.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/irbis/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="irbis" targetNamespace="http://www.example.org/irbis/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/irbis/">
      <xsd:element name="getCipherByName">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCipherByNameResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getCipherByNameRequest">
    <wsdl:part element="tns:getCipherByName" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getCipherByNameResponse">
    <wsdl:part element="tns:getCipherByNameResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="irbis">
    <wsdl:operation name="getCipherByName">
      <wsdl:input message="tns:getCipherByNameRequest"/>
      <wsdl:output message="tns:getCipherByNameResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="irbisSOAP" type="tns:irbis">
  	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  	<wsdl:operation name="getCipherByName">
  		<soap:operation soapAction="http://www.example.org/irbis/NewOperation"/>
  		<wsdl:input>
  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="irbis">
    <wsdl:port binding="tns:irbisSOAP" name="irbisSOAP">
      <soap:address location="http://localhost:8080/library/services/irbisSOAP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
